<div class="d-flex h-100 align-items-center justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="assets/img/nicolas.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nicolas Guilherme Matheus</h5>
      <p class="card-text"><strong>FrontEnd Engineer</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit dignissimos deserunt, exercitationem nam unde consequuntur omnis incl.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <input type="text">
    </div>
  </div>
</div>
